# Fichiers système Mac et Windows
.DS_Store
Thumbs.db

# Configuration SENSIBLE (Ne jamais push ça)
config/db.php
.env

# Configuration STRUCTURELLE (On push ça car c'est sécurisé maintenant)
# config/config.php  <-- Commenté pour autoriser l'envoi

# Dossiers générés ou temporaires
vendor/
node_modules/

# Uploads (on garde la structure des dossiers mais pas les fichiers)
public/uploads/*
!public/uploads/.gitkeep